# --- Python & System Junk ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Tools (Do not commit binaries) ---
#/tools/*.exe I need them
/tools/*.zip
/tools/*.dmg
/tools/*.app

# --- Data Input (Privacy & Copyright Protection) ---
# We ignore the contents, but keep the folder structure
/data/01_bios_files/*
/data/02_extracted/*
/data/03_ifr_dumps/*

# ...but we keep the .gitkeep files so empty folders exist in git
!/data/**/.gitkeep

# --- Generated Output ---
# Ignore generated HTML files
/output/*.html

# Optional: Ignore generated JSON inputs if you treat them as temp files
# (Comment this out if you WANT to save your imported JSON configs)
# /config/input/*.json